<div class="black-overlay" style="background-color: rgba(238, 236, 236, 0.8)" *ngIf="show">
  <div class="uploaddiv container-fluid col-4 border back">

 <h3 class="text-center text-info">
    <u>Select file to attach</u>
  </h3>

  <br/>
  <input type="file" class=" btn btn-default" (change)="onFileChange($event)" />
  <br/>
  <br/>
  <br/>
  <div class="form-group text-center">
      <button type="button" class=" btn btn-primary text-center" (click)="uploadFile()" [disabled]="!fileToUpload">
          Upload
        </button> &nbsp;&nbsp;
        <button type="button" class=" btn btn-danger text-center" (click)="cancleUpload()">
            Cancle
          </button>
  </div>
  <br/>
  <div *ngIf="messages">
    <span> {{msg}} </span>
  </div>
</div>
</div>
