<div class="border-bottom">
  <div><h4>Inbox:</h4></div>
  <div *ngIf="!messagesList.length>0" class="text-center text-muted align-middle">
    <h5>No emails in your inbox!</h5>
  </div>
</div>

<div *ngIf="messagesList.length>0" class="table-scrollbar">
    <table id="tblEmails" class="table table-hover bg-white">
        <tbody >
            <ng-container *ngFor="let email of messagesList" >
                <tr [class.unread-mail]="!email.IsRead">
                    <td (click)="onRead(email)" class="mail-from">{{ utils.trimEmailFrom(email.FromEmail) }}</td>
                    <td (click)="onRead(email)" class="mail-subject">{{ utils.trimEmailSubject(email.Subject)}}</td>
                    <td (click)="onRead(email)" class="mail-date">{{ email.MailDate | date:'dd-MMM-yyyy' }}</td>
                    <td (click)="onTrash(email.MailId)" class="mail-action " style="padding:0;vertical-align: middle;">
                        <a  class="btn btn-sm text-danger ">
                            <i class="fa fa-trash-o fa-2x"></i>
                        </a>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    </div>

