<div class="card">
<div class="card-header">
  <div>
    <h5>Subject: {{mailMessage.Subject}}</h5>
  </div>
    <div class="d-flex justify-content-between align-items-baseline">
        <h6 class="mb-1">From: {{ mailMessage.FromEmail }}
            <small></small>
        </h6>

        <small class="text-dark">{{ mailMessage.MailDate | date:'dd-MMM-yyyy' }}</small>
    </div>
    <h6 class="mb-1">To: {{ mailMessage.ToEmail }}
        <small></small>
    </h6>
</div>
<div class="card-body">
  <p class="card-text text-style">{{mailMessage.Message}}</p>
</div>
<div class="card-footer">
<small *ngIf ="mailMessage.AttachmentsList.length>0" >ATTACHMENTS:</small>
  <ul Id="attachmentList" class="" *ngFor="let arrayItem of mailMessage.AttachmentsList">
      <li class="">
        <a class="small" (click)="onDownloadAttachment(arrayItem.AttachmentId)" >{{arrayItem.Attachment}} </a>
      </li>
    </ul>
</div>
<div class="card-footer">
    <button type="button" class=" btn btn-md col-sm-2 btn-info" (click)="replyMail()">
        <i class="fa fa-reply"></i> Reply</button> &nbsp;&nbsp;
    <button type="button" class=" btn btn-md col-sm-2 btn-info" (click)="forwardMail()">
        <i class="fa fa-share"></i> Forward</button> &nbsp;&nbsp;
    <button type="button" class=" btn btn-md col-sm-2 btn-danger" (click)="onBack()">
        <i class="fa fa-backward"></i> Go Back</button>
</div>
</div>
